<h1>Cat Shelter</h1>
<form action="" method="">
    <input value="{{queryString.search}}" name="search" type="text">
    <button type="submit">Search</button>
</form>
<main>
    <section class="cats">
        <ul>
            {{#each cats}}
            {{>cat}}
            {{/each}}
        </ul>
    </section>
</main>